body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #F8F8F8;
}
.animation{
  transition: height 1s ease-in;
}
.panel-collapse{
  height: 100px;
  -webkit-transition: height 0.5s;
  transition: height 0.5s ease-in;
}
.panel-collapse-animation{
  height: 460px;
  -webkit-transition: height 0.3s;
  transition: height 0.3s ease-in;
}
.panel-heading{
  background-color: #DAF2F9 !important;
  border: 1px solid #25B6E8 !important;
}
.accordion-icon{
  color: darkgrey !important;
  float: right;
  font-size: 20px;
}
.fa-fw{
  color: #25B6E8;
}
#collapse1, #collapse2, #collapse3, #collapse4, #collapse5, #collapse6, .panel-body{
  background-color: #F7FCFF !important;
}
.custom-submit-button{
  background-color: #909598 !important;
  border: 1px solid #25B6E8 !important;
}
.custom-submit-button:hover{
  background-color: #25B6E8 !important;
}
a.animation{
  text-decoration: none;
}